:root {
    --font: "Roboto", sans-serif;
    --color-accent: #a18a68;
    --color-black: #000000;
    --color-black-hover: #222222;
    --color-dark-gray: #707070;
    --color-gray: #d8d8d8;
    --color-white-light: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: var(--color-black);
    text-align: center;
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
}

h1.left {
    text-align: left;
}
